.styled-table {
	min-width: 400px;
}

table, td, th {
  border: 1px solid black;
}

td {
	height: 50px;
	border-width: 1px;
	padding: 16px;
	cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}